<html>
  <body>
    <h1>{{restaurant.name}}</h1>
    <br>
    <a href='/restaurant'>Back to Restaurants</a>
    <br>
    <a href='/restaurant/{{menu_item.restaurant_id}}'>Cancel</a>
    <br>
    <hr>
    <br>

    <form method='POST'>
      <h2>Edit Menu Item: {{menu_item.name}}</h2>
      <br>
      <h3>Name</h3>
      <input type='text' name='name' type='text' value='{{menu_item.name}} 'placeholder='{{menu_item.name}}'>

      <h3>Price</h3>
      <input type='text' name='price' type='text' value='{{menu_item.price}}' placeholder='{{menu_item.price}}'>

      <h3>Course</h3>
      <input type='text' name='course' type='text' value='{{menu_item.course}}' placeholder='{{menu_item.course}}'>

      <h3>Description</h3>
      <input type='text' name='description' type='text' value='{{menu_item.description}}' placeholder='{{menu_item.description}}'>

      <br>
      <br>
      <input type='submit' value='Enter New Restaurant'>
    </form>


  </body>
</html>
