<html>
  <body>
    <h1>{{restaurant.name}}</h1>

    <br>
    <a href='/restaurant'>Back to Restaurants</a>
    <br>
    <a href='/restaurant/{{restaurant.id}}/menu/new'>Add Menu Item</a>
    <br>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
          <li><strong>{{message}}</strong></li>
        {% endfor %}
      </ul>
      {% endif %}
    {% endwith %}
    <br>



    {% for menu_item in menu %}
        <h2>{{menu_item.name}}</h2>
        <h3>{{menu_item.price}}</h3>
        <p>{{menu_item.description}}</p>
        <a href="/restaurant/{{menu_item.restaurant_id}}/menu/{{menu_item.id}}/edit">Edit</a>
        <a href="/restaurant/{{menu_item.restaurant_id}}/menu/{{menu_item.id}}/delete">Delete</a>
        <br>
        <br>
    {% endfor %}


  </body>
</html>
