<html>
  <body>
    <h1>{{restaurant.name}}</h1>
    <br>
    <a href='/restaurant'>Back to Restaurants</a>
    <br>
    <a href='/restaurant/{{restaurant.id}}/menu'>Cancel</a>
    <br>
    <hr>
    <br>

    <form method='POST'>
      <h2>Add New Menu Item</h2>
      <br>
      <h3>Name</h3>
      <input type='text' name='name' type='text'>

      <h3>Price</h3>
      <input type='text' name='price' type='text'>

      <h3>Course</h3>
      <input type='text' name='course' type='text'>

      <h3>Description</h3>
      <input type='text' name='description' type='text'>

      <br>
      <br>
      <input type='submit' value='Enter New Menu Item'>
    </form>


  </body>
</html>
